<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
        <p>
           I'm a curious person. I'm always asking questions and trying to understand
           how things work and how they are made. My curiosity led me to create and sell
           a web hosting company when I was 16 years old. As a computer engineer I
           keep entrepreneurship and innovation as part of my routine.
        </p>
    		<p>
            I have over 4 years of experience as a software engineer and have worked
            at large organizations on different projects. I'm a proficient backend software engineer that
            looks for roles where seeing the big picture is a necessary thing, where I can take on on collaborative
            team leadership responsibilites.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Technical solutions management within agile team of 10+ members.
    			</li>
          <li>
            Roll-out of 10 million+ customers to Itaú's newest internet banking platform.
          <li>
            Led the development of a software used worldwide by EMBRAER for commercial aircraft testing.
    			<li>
            Founded a web services company, which was sold in 2009.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
