<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Cybersecurity</b>. It is a relatively recent topic for me. I deal with cybersecurity daily at work and it makes me excited to know it further.
			  </li>
			  <li>
				  <b>Travelling</b>. I live in Brazil and I really like to travel and know other cultures. I've been in Canada (where I lived at for 3 months), USA (where I studied at for 12 months) and Ireland so far!
			  </li>
			  <li>
				  <b>Drones</b>. Flying a drone is incredible, and taking pictures with it is absolutely amazing!
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Presented "Android Hacking #101" during an event as a speaker to university students, teching basic concepts about APK and its security.
    		</li>
  			<li>
          Development of Android Apps.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Starting a social project to teach programming to young kids.
  			</li>
  			<li>
           Scored GPA 4.0 as a visiting student at California State University.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
